node_modules/
lib/
assets/build
env.sh
npm-debug.log
website/_site/
website/.jekyll-metadata
website/.lanyon
website/assets/build/
website/*.md
website/index.md
website/.lanyon/bin
examples/output
.DS_Store
